.card {
  box-shadow: 2px 3px 2px 1px grey;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
  width: 300px;
  border: solid 2px grey;
}

.flex-apart {
  display: flex;
  /* to put space between span & button */
  justify-content: space-between;
  /* to ensure span and button is equally center */
  align-items: center;
}